<ul class="navigation">
    <li><a href="#product" style="color:var(--primary-color);">Product </a></li>
    <li><a href="#testimonial" style="color: var(--primary-color);">Testimonial</a></li>
    <li><a href="#contact" style="color: var(--primary-color);">Contact</a></li>
</ul>
<ul class="user__info">
    <a href="/users/register" class="btn">Register</a>
    <a href="/users/login" class="btn">Login</a>
</ul>
<button class="toggle__house">
    <i class="fas fa-bars-staggered"></i>
</button>