<ul class="navigation">
    <li><a href="#" style="color:var(--primary-color);">Product </a></li>
    <li><a href="#" style="color: var(--primary-color);">Testimonial</a></li>
    <li><a href="#" style="color: var(--primary-color);">Contact</a></li>
</ul>
<ul class="user__info" style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
    <a href="/users/register" class="btn"
        style="background: var(--primary-color); color: var(--white-color); padding: 5px;">Register</a>
    <a href="/users/login" class="btn"
        style="background: var(--primary-color);  color: var(--white-color);  padding: 5px;">Login</a>
</ul>
<button class="toggle__house">
    <i class="fas fa-bars-staggered"></i>
</button>