<ul class="top__navigation">
    <button class="new__house">
        <i class="fas fa-x"></i>
    </button>
    <li><a href="/">Home</a></li>
    <li><a href="/#product">Product </a></li>
    <li><a href="/#testimonial">Testimonial</a></li>
    <li><a href="/#contact">Contact</a></li>
</ul>