* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 84px 214px 97px 50px;
    gap: 10px;
    overflow-y: scroll;
    background: #F6F6F6;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    width: 1512px;
    height: 982px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    width: 486px;
    height: 801px;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 10px;
    position: absolute;
    width: 537px;
    height: 234px;
    left: 82px;
    top: 51px;
    background: #263C89;
    border-radius: 24px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    display: flex;
    align-content: center;
    text-align: left;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 54px;

    width: auto;
    height: auto;
    flex: 1;
    order: 0;
    flex-grow: 0;
}

h1 {
    position: relative;
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #263c89;
}

label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #474646;
}

.register_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

.register {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #263c89;
}

.buttom_text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 5px;
}

.forgot_password {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #263c89;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
    position: absolute;
    width: 1248px;
    height: 801px;
    left: 50px;
    top: 84px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.left_card img {
    width: 702px;
    height: 801px;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.inputs_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 486px;
    height: 228px;
    left: 812px;
    top: 176px;

}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 486px;
    height: 102px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
    color: #474646;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 10px;
    gap: 10px;
    width: 486px;
    height: 67px;
    border: 1px solid #474646;
    border-radius: 15px;
}

input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: left;
    text-transform: capitalize;
    color: #D4D3D3;

}

.login_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 10px;

    width: 486px;
    height: 67px;
    background: #263c89;
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

button:hover {
    -webkit-box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 5px 15px rgba(50, 50, 50, 0.41);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.button_text {
    width: 66px;
    height: 27px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* Gray/900 */

    color: #dbdada;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.checkbox {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    left: 812px;
    top: 428px;
    border: 1px solid #474646;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.checkbox_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.remember {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #474646;
}


@media only screen and (max-width: 600px) {
    .left_card {
        display: none;
    }

    body {
        width: 600px;
        }

}